
<div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col" style=" width: 50%; margin: 0 auto; display:table;">
          <div class="card" style="width: 36rem; text-align: center">
            <img
              src="https://www.investsmall.co/wp-content/uploads/2020/04/investment-3-scaled.jpg"
              height="100px"
              class="card-img-top"
              alt="..."
            />

<div class="col-md-12">
  <h4 class="mb-3 text-center">Add Order</h4>
  <div class="form-group row">
    <label class="control-label col-md-12">Stock Ticker</label>
    <input placeholder="Please enter a valid stock ticker" type="text" [(ngModel)]="orderDetails.stockTicker" class="form-control">
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12">Price</label>
    <input type="text" [(ngModel)]="orderDetails.price" class="form-control">
  </div>
   <div class="form-group row">
    <label class="control-label col-md-12">Volume</label>
    <input type="text" [(ngModel)]="orderDetails.volume" class="form-control">
  </div>
   <div class="form-group row">
    <label class="control-label col-md-12">Buy or Sell</label>
    <input placeholder="Enter BUY or SELL" type="text" [(ngModel)]="orderDetails.buyOrSell" class="form-control">
  </div>
  <div class="form-group row"style='margin-bottom:0.5em;'>
    <label class="control-label col-md-12">Date</label>
    <input type="text" [(ngModel)]="orderDetails.createdTimestamp" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" style='margin: 0 auto; display: table;' (click)="addOrder()" data-bs-toggle="button" autocomplete="off">Create New Order</button>
  </div>
