<div class="container" >
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col" style=" width: 50%; margin: 0 auto; display:table; margin-bottom:5em; ">
          <div class="card" style="width: 36rem; text-align: center">
            <img
              src="https://websta.me/wp-content/uploads/thumbs_dir/high-yield-income-investments-1yh7fqxpgqlhfmemahl72qeqkxijgakokwgqyzlf0lis.jpg"
              height="100px"
              class="card-img-top"
              alt="..."
            />
<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Orders</h3>

    <div class="form-group row">
        <label class="control-label col-md-12">Trading ID</label>
        <input type="text" [(ngModel)]="orderDetails.id" class="form-control">
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12">Buy or Sell</label>
        <input type="text" [(ngModel)]="orderDetails.buyOrSell" class="form-control">
    </div>

<div class="form-group row">
        <label class="control-label col-md-12">Status Code</label>
        <input type="text" [(ngModel)]="orderDetails.statusCode" class="form-control">
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12">Stock Ticker</label>
        <input type="text" [(ngModel)]="orderDetails.stockTicker" class="form-control">
    </div>

   <div class="form-group row">
        <label class="control-label col-md-12">Volume</label>
        <input type="text" [(ngModel)]="orderDetails.volume" class="form-control">
    </div>
     <div class="form-group row" style='margin-bottom:0.5em;'>
        <label class="control-label col-md-12">Price</label>
        <input type="text" [(ngModel)]="orderDetails.price" class="form-control">
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" style='margin: 0 auto; display: table;' (click)="updateOrder()">Save Order</button>
    </div>

</div>
