<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Trading API</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" style='padding-bottom:10rem;'>
        <div class="col" style="width: 50%; margin: 0 auto; display: table">
          <div class="card" style="width: 40rem; text-align: center">
            <img
              src="https://www.bdcmagazine.com/files/uploads/2021/02/hhhg.jpg"
              height="100px"
              class="card-img-top"
              alt="..."
            />
            <div *ngIf="Orders.length !== 0">
              <div class="card-body">
                <h5 class="card-title">List of Orders</h5>
                <p class="card-text"></p>
                <table class="table">
                  <thead>
                    <th>ID</th>
                    <th>Buy or Sell</th>
                    <th>Price</th>
                    <th>Status Code</th>
                    <th>Stock Ticker</th>
                    <th>Volume</th>
                    <th>Date</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of Orders">
                      <td>{{ order.id }}</td>
                      <td>{{ order.buyOrSell }}</td>
                      <td>{{ order.price }}</td>
                      <td>{{ order.statusCode }}</td>
                      <td>{{ order.stockTicker }}</td>
                      <td>{{ order.volume }}</td>
                      <td>{{ order.createdTimestamp | date }}</td>
                      <td>
                        <a
                          [routerLink]="['/trading-edit/', order.id]"
                          class="btn btn-primary btn-sm float-right" style='margin-bottom:0.25rem'
                          >Edit</a
                        >&nbsp;
                        <a
                          [routerLink]=""
                          (click)="deleteOrder(order.id)"
                          class="btn btn-danger btn-sm float-right"
                          >Delete</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-primary" onClick="history.go(0);">
                  Refresh List
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
